<!-- CTRL + SHIFT + F for pretty -->
<app-bread-crumb
   [items]="[{ label: 'Logradouros', routerLink: '/logradouros' }, { label: pageTitle }]"
></app-bread-crumb>

<div class="margin">
   <p-panel header="Preencha o Formulario:">

      <!-- {{ resourceForm.value | json }} -->

      <form [formGroup]="resourceForm" (submit)="submitForm()">
         <div class="p-grid ui-fluid" style="margin-top: 5px">
            <div class="p-col-12 p-md-10 p-lg-10" formGroupName="cidades">
               <label for="cidade">Cidade</label>
               <div class="ui-inputgroup">
                  <button
                     [disabled]="botaoOnOf"
                     pButton
                     type="button"
                     label="Buscar"
                     (click)="showCidades($event)"
                  ></button>
                  <input
                     type="text"
                     style="font-weight: bold"
                     pInputText
                     placeholder="Informe a cidade"
                     formControlName="nome"
                     disabled="true"
                  />
               </div>
            </div>

            <div class="p-col-12 p-md-2 p-lg-2" formGroupName="cidades">
               <label for="sigla">Estado</label>
               <span formGroupName="estados">
                  <input
                     id="uf"
                     type="text"
                     style="font-weight: bold"
                     size="2"
                     pInputText
                     formControlName="uf"
                     disabled="true"
                  />
               </span>
            </div>

            <div class="p-col-12 p-md-3 p-lg-3" >
               <label for="tipoLogradouro" >Tipo Logradouro</label>
               <p-dropdown id="tipoLogradouro" name="tipoLogradouro" [options]="tiposLogradourosList"
                  placeholder="Selecione" [disabled]="botaoOnOf"
                  [filter]="true" formControlName="tiposLogradourosId"></p-dropdown>
            </div>

            <div class="p-col-12 p-md-9 p-lg-9">
               <label for="nome">Nome</label>
               <input id="nome" type="text" size="80" pInputText formControlName="nome" />
               <app-form-field-error
                  [form-control]="resourceForm.get('nome')"
                  header-colum="Nome"
               ></app-form-field-error>
            </div>

            <div class="p-col-12 p-md-12 p-lg-12">
               <label for="observacao">Observação</label>
               <input
                  id="observacao"
                  type="text"
                  size="200"
                  pInputText
                  formControlName="observacao"
               />
            </div>
         </div>

         <div class="p-grid ui-fluid" style="margin-top: 5px">
            <div class="p-col-12 p-md-2 p-lg-2">
               <button
                  pButton
                  type="button"
                  label="Voltar"
                  routerLink="/logradouros"
                  class="ui-button-danger"
               ></button>
            </div>

            <div class="p-col-12 p-md-2 p-lg-2">
               <button
                  pButton
                  type="button"
                  [disabled]="submittingForm || resourceForm.invalid"
                  type="submit"
                  icon="pi pi-check"
                  label="Salvar"
                  class="ui-button-success"
               ></button>
            </div>
         </div>
      </form>
   </p-panel>
</div>
