<!-- CTRL + SHIFT + F for pretty -->
<app-bread-crumb [items]="[{ label: 'Ceps' }]"></app-bread-crumb>

<div class="margin">
   <p-toast></p-toast>

   <div class="p-col-12 p-md-12 p-lg-12">
      <app-page-header
         page-title="Ceps"
         button-text="+"
         button-link="new"
         button-class="btn-success"
      ></app-page-header>
   </div>

   <div class="p-grid ui-fluid">
      <div class="p-col-12 p-md-12 p-lg-12">
         <p-table
            #tabela
            [loading]="loading"
            [responsive]="true"
            [value]="resources"
            [paginator]="true"
            [rows]="filtro.itensPorPagina"
            [lazy]="true"
            [totalRecords]="filtro.totalRegistros"
            (onLazyLoad)="aoMudarPagina($event)"
            [autoLayout]="true"
         >
            <ng-template pTemplate="header">
               <tr>
                  <th class="blue-bg p-col-1">Id</th>
                  <th class="blue-bg col-120px">CEP</th>
                  <th class="blue-bg">Cidade</th>
                  <th class="blue-bg">Logradouro</th>
                  <th class="blue-bg">Bairro</th>
                  <th class="blue-bg col-120px">Nro Inicial</th>
                  <th class="blue-bg col-120px">Nro Final</th>
                  <th class="blue-bg col-120px">Identificação</th>
                  <th rowspan="2" style="text-align: center" class="blue-bg">Ações</th>
               </tr>

               <tr>
                  <th class="ui-fluid p-col-1">
                     <input
                        style="text-align: center;"
                        pInputText
                        type="text"
                        name="id"
                        (input)="tabela.filter($event.target.value, 'id', 'equals')"
                     />
                  </th>

                  <th class="ui-fluid col-120px">
                     <input
                        pInputText
                        type="text"
                        name="cep"
                        (input)="tabela.filter($event.target.value, 'cep', 'equals')"
                     />
                  </th>

                  <th class="ui-fluid">
                     <input
                        pInputText
                        type="text"
                        name="cidade"
                        (input)="tabela.filter($event.target.value, 'cidade', 'equals')"
                     />
                  </th>

                  <th class="ui-fluid">
                     <input
                        pInputText
                        type="text"
                        name="logradouro"
                        (input)="tabela.filter($event.target.value, 'logradouro', 'equals')"
                     />
                  </th>

                  <th class="ui-fluid">
                     <input
                        pInputText
                        type="text"
                        name="bairro"
                        (input)="tabela.filter($event.target.value, 'bairro', 'equals')"
                     />
                  </th>

                  <th class="ui-fluid col-120px">
                     <input pInputText type="text" name="numeroIni" disabled="false" />
                  </th>

                  <th class="ui-fluid col-120px">
                     <input pInputText type="text" name="numeroFin" disabled="false" />
                  </th>

                  <th class="ui-fluid col-120px">
                     <input pInputText type="text" name="identificacao" disabled="false" />
                  </th>
               </tr>
            </ng-template>

            <ng-template pTemplate="body" let-ceps>
               <tr>
                  <td class="col-120px">
                     {{ ceps.id }}
                  </td>

                  <td class="col-120px">
                     {{ ceps.cep | cep }}
                  </td>

                  <td>
                     {{ ceps.logradouros.cidades.nome }}
                  </td>

                  <td>
                     {{ ceps.logradouros.tiposLogradouros.sigla + " " + ceps.logradouros.nome }}
                  </td>

                  <td>
                     {{ ceps.bairros.nome }}
                  </td>

                  <td class="col-120px">
                     {{ ceps.numeroIni }}
                  </td>

                  <td class="col-120px">
                     {{ ceps.numeroFin }}
                  </td>

                  <td class="col-120px">
                     {{ ceps.identificacao }}
                  </td>

                  <td class="col-acoes">
                     <button
                        pButton
                        type="button"
                        [routerLink]="[ceps.id, 'edit']"
                        icon="pi pi-pencil"
                        style="margin-right: 9px"
                     ></button>

                     <button
                        pButton
                        type="button"
                        (click)="deleteResource(ceps)"
                        icon="pi pi-trash"
                        class="ui-button-danger"
                     ></button>
                  </td>
               </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage">
               <tr>
                  <td colspan="6">Nenhum registro cadastrado!</td>
               </tr>
            </ng-template>
         </p-table>
      </div>
   </div>
</div>
<app-base-resource-confirmation
   header="Atenção"
   menssage="Deseja realmente deletar este item ?"
></app-base-resource-confirmation>
